  h1{
      color: black;
      margin-top: 3rem;
      text-align: center;
    }
  
  .container{
    width: 1000px;
    padding: 5rem;
  }
  
  thead{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    font-size: larger;
    width: auto;
  }
  
  tbody{
    text-align: center;
    background-color: white;
  }
  
  .btn1{
    margin-right: 2rem;
  }
  
  .add-student{
    margin-bottom: 0.5rem;
  }
  
  body{
    background-color:rgb(220, 236, 242);
  }
  