.App {
  text-align: center;
  background-color: pink;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color: black;
  margin-top: 3rem;
  text-align: center;
}


.container{
  /* background-color: pink; */
  width: 1000px;
}

thead{
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
  font-size: larger;
  width: auto;
}

tbody{
  text-align: center;
  background-color: blue;
}

.btn1{
  margin-right: 2rem;
}

.add-student{
  margin-bottom: 0.5rem;
}

body{
  background-color:rgb(220, 236, 242);
}
